@page "/planets"
 
@using StarWarsAPI5.Components
@using StarWarsSearcher.Entities

<SwapiListDisplayer TItem="Planet" EntityName="planets">
    <ItemTemplate>
        <div class="information-box">
            <div style="color: white;"><span style="color: yellow;">Name: </span> @context.Item.Name</div>
            <div style="color: white;"><span style="color: yellow;">Rotation Period: </span> @context.Item.RotationPeriod</div>
            <div style="color: white;"><span style="color: yellow;">Gravity: </span> @context.Item.Gravity</div>
            <div style="color: white;"><span style="color: yellow;">Population: </span> @context.Item.Population</div>
            <MoreInformation reference="@($"planets/{@context.Item.Name}/{@context.CurrentPage}")"> More Information</MoreInformation>
        </div>
    </ItemTemplate>
</SwapiListDisplayer>