@page "/planets"

@using StarWarsAPI5.Components

<div class="form-inline" style="align-items: center;">
    <label class=" sr-only" for="filter-name">Filter</label>
    <input type="text" class="form-control mb-2 mr-sm-2"
           @bind-value="NameFilter"
           @bind-value:event="oninput"
           placeholder="Filter by Name" />
    <button type="button" class="btn btn-primary mb-2" @onclick="Filter"> Filter</button>
    <button type="button" class="btn btn-danger mb-2" @onclick="Clear"> Clear</button>
</div>

<Pagination TotalPagesQuantity="TotalPageQuantity" CurrentPage="CurrentPage" Radius="2" SelectedPage="SelectedPage" />

<div class="flex-container">
    @if (_Planets != null)
    {
        @foreach (var planet in _Planets)
            {
            <div class="information-box">
                <div style="color: white;"><span style="color: yellow;">Name: </span> @planet.Name</div>
                <div style="color: white;"><span style="color: yellow;">Rotation Period: </span> @planet.RotationPeriod</div>
                <div style="color: white;"><span style="color: yellow;">Gravity: </span> @planet.Gravity</div>
                <div style="color: white;"><span style="color: yellow;">Population: </span> @planet.Population</div>
                <MoreInformation reference="@($"planets/{@planet.Name}/{CurrentPage}")"> More Information</MoreInformation>
            </div>
            }
        @*<DataContainer Entity="_Planets" CurrentPage="CurrentPage">
            @context.Name @context.RotationPeriod
        </DataContainer>*@
    }
    else
    {
        <div>
            Loading ...
        </div>
    }
</div>