@page "/films"

@using StarWarsAPI5.Components

<div class="form-inline" style="align-items: center;">
    <label class=" sr-only" for="filter-name">Filter</label>
    <input type="text" class="form-control mb-2 mr-sm-2"
           @bind-value="NameFilter"
           @bind-value:event="oninput"
           placeholder="Filter by Name" />
    <button type="button" class="btn btn-primary mb-2" @onclick="Filter"> Filter</button>
    <button type="button" class="btn btn-danger mb-2" @onclick="Clear"> Clear</button>
</div>

<Pagination TotalPagesQuantity="TotalPageQuantity" CurrentPage="CurrentPage" Radius="2" SelectedPage="SelectedPage" />

<div style="display: flex;">
    @if (_Films != null)
    {
        @foreach (var film in @_Films)
        {
            <div style="margin: 10px;">
                <div style="color: white;"><span style="color: yellow;"> Title: </span> @film.Title</div>
                <div style="color: white;"><span style="color: yellow;"> Director: </span> @film.Director</div>
                <div style="color: white;"><span style="color: yellow;"> Producer: </span> @film.Producer</div>
                <div style="color: white;"><span style="color: yellow;"> Release Date: </span> @film.ReleaseDate</div>
                <MoreInformation reference="@($"films/{film.Title}/{CurrentPage}")"> More Information </MoreInformation>
            </div>
        }
    }
    else
    {
        <div>
            Loading ...
        </div>
    }
</div>