@page "/people"

@using StarWarsAPI5.Components 

<div class="form-inline" style="align-items: center;">
    <label class=" sr-only" for="filter-name">Filter</label>
    <input type="text" class="form-control mb-2 mr-sm-2"
           @bind-value="NameFilter"
           @bind-value:event="oninput"
           placeholder="Filter by Name" />

    <button type="button" class="btn btn-primary mb-2" @onclick="Filter"> Filter</button>
    <button type="button" class="btn btn-danger mb-2" @onclick="Clear"> Clear</button>
</div>

<Pagination TotalPagesQuantity="TotalPageQuantity" CurrentPage="CurrentPage" Radius="2" SelectedPage="SelectedPage" />

<div style="display: flex;">
        @if (_People != null)
        {
            @foreach (var character in _People)
            {
                <div style="margin: 10px">
                    <div><span style="color: yellow;">Name:</span><span style="color: white;"> @character.Name</span></div>
                    <div><span style="color: yellow;">Height:</span> <span style="color: white;"> @character.Height</span></div>
                    <div><span style="color: yellow;">Mass:</span> <span style="color: white;"> @character.Mass</span></div>
                    <div><span style="color: yellow;">Skin Color:</span> <span style="color: white;"> @character.SkinColor</span></div>
                    <div><span style="color: yellow;">Gender:</span> <span style="color: white;"> @character.Gender</span></div>
                    @*<a href="@($"people/{character.Name}/{@CurrentPage}")" class="button">More information</a>*@
                    <MoreInformation reference="@($"people/{character.Name}/{@CurrentPage}")"> More Information </MoreInformation>
                </div>
                        }
        }
        else
        {
            <Loading/>
        }
</div>
